{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <table>
    <tr>
      <td><h1>List of Tasks</h1></td>
      <td width="20"></td>
      <td><a href="#" class="btn btn-primary">ADD NEW TASK</a></td>
      <td>
        <form method="get" action="" class="form-inline">
          {{ search_form|crispy }}
          <input class="btn btn-secondary" type="submit" value="⌕">
        </form>
      </td>
    </tr>
  </table>

  {% if task_list %}
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Created</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Tags</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.created_time }}</td>
        <td>{% if task.status %}✅{% else %}❌{% endif %}</td>
        <td>{{ task.owner }}</td>
        <td>{{ task.get_tags_names }}</td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no tasks yet!</p>
  {% endif %}
{% endblock %}